.card {
  padding: 5px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 20px;
}

.info {
}
.title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0px;
}

.description {
  font-size: 1.1em;
}

.rating {
  font-weight: 500;
}
.cardImage {
  background: rgb(53, 224, 187);
  aspect-ratio: 1 / 1.33;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* large cards */
.largeCard {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.largeCardInfo {
  padding-left: 10px;
}

.largeCardTitle {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0px;
  margin-top: 15px;
}

.largeCardImage {
  aspect-ratio: 1 / 1.33;
  background: rgb(53, 224, 187);
  min-width: 450px;
  min-height: 600px;
  max-width: 100%;
  max-height: 900px;
  object-fit: cover;
  border-radius: 20px;
}
