.card {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 40px;
  margin: 0 auto;
}

.cardImageContainer {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.cardImage {
  max-width: 100%;
  object-fit: contain;
}

.info {
  align-self: center;
  justify-self: center;
  background: #fee6a3;
  aspect-ratio: 1/1;
  padding: 20px;
  padding-top: 30%;
  padding-right: 10%;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 2em;
}
.description {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .info {
    padding: 20px;
    padding-top: 30%;
    padding-right: 10%;
  }
  .cardImageContainer {
    aspect-ratio: 0;
  }
}
