.card {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 40px;
  margin: 0 auto;
  max-width: 1600px;
}

.cardImageContainer {
  overflow: hidden;
  aspect-ratio: 1/1;
  background:rgb(255, 237, 237);
}

.cardImage {
  max-width: 100%;
  object-fit: contain;
  
}

.info {
  align-self: center;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 2em;
}
.description {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .info {
    padding: 32px 24px 60px 24px;
  }
  .cardImageContainer {
    aspect-ratio: 0;
  }
}
