.card {
  width: 100%;
}

.info {
  margin: 0px;
  margin: 10px;
}

.cardImage {
  aspect-ratio: 1 / 1.33;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
  max-height: 32vw;
}
.tag {
  color: gold;
  font-size: 0.9em;
  font-weight: 500;
  margin: 5px 0px;
}
.title {
  font-size: 1.3em;
  font-weight: 700;
  margin: 5px 0px;
}
.date {
  font-weight: 500;
  margin: 5px 0px;
  padding-bottom: 20px;
}
.cardRating {
  font-weight: 500;
  margin: 5px 0px;
}
