.gridContainer2Col,
.gridContainer3Col,
.gridContainer4Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 50px;
  margin: 0 auto;
  max-width: 1600px;
}

.gridContainer3Col {
  grid-template-columns: 1fr 1fr 1fr;
}
.gridContainer4Col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridInfo {
  text-align: center;
  padding: 64px;
}
.title {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}
.description {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 0.9em;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .gridContainer2Col,
  .gridContainer3Col {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .gridContainer4Col {
    display: block;
  }
}
